body{
    background-color: darkseagreen;
}
h1{
    color: blue;
}
p{
    color: red;
}
.title{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-size: 40px;
    line-height: 45px;
    font-style: italic;
}
.txtbx{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 25px;
    line-height: 30px;
    border-radius: 30px;
}

#btn{
    background-color:crimson;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
    width: 100px;
    height:40px;
    margin-top: 10px;
    border-radius: 30px;
}

.lbl{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.rbchk{
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    font-size: 15px;
    font-weight: bold;
}